.rt-section {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    padding: 15px 30px;
    margin-bottom: 30px;
}

.filter-ui {
    background-color: #eee;
}

.filter-ui.form-inline * {
    margin-left: 3px;
    margin-right: 3px;
}

.code-font {
    font-family: Menlo, Monaco, Consolas, monospace;
}

.tweet-group {
    margin: 8px;
    padding: 12px;

    border: solid 1px;
    border-color: rgba(0,0,0,0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-transition: all 0.35s linear;
    -moz-transition: all 0.35s linear;
    -o-transition: all 0.35s linear;
    -ms-transition: all 0.35s linear;
    transition: all 0.35s linear;
}
.tweet-group:hover {
    border-color: #428bca;
}

.retweet-sect img {
    margin: 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
